<!DOCTYPE html>
<html>
<head>
	<title>shernof</title>
<meta  name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/0d5cd337e9.js" SameSite="None, Secure" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="lp.css">
</head>
<body>
	<div>
			<nav class="navbar navbar-expand-md navbar-light">
					<!-- <a class="navbar-brand" href="#">Navbar</a> -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
				  
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
						<li class="nav-item active">
						  <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
						</li>
						<li class="nav-item">
						  <!-- <a class="nav-link" href="#">Link</a> -->
						</li>
						<li class="nav-item dropdown">
						  <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Test
						  </a>
						  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="https://www.facebook.com/">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						  </div> -->
						</li>
						<li class="nav-item">
						  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
						</li>
					  </ul>
					  <form class="form-inline my-2 my-lg-0">
						<!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
						<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
						<iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:240px;height:25px;"src="https://www.clocklink.com/html5embed.php?clock=017&timezone=CCT&color=white&size=240&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=red"></iframe>		
					  </form>
					</div>
				  </nav>

	</div>		  
	
	<div class="container">
		<div class="row d-flex">
			<div class="buffer col-12"></div>
				<div class="hd col-12">
					<h1 id="greet">Hello Sherwin</h1>
					<ul id="icons">
						<li>
							<a href="https://github.com/" target="_blank"><i class="fab fa-github-square" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>	
						<li id="spc"></li>
						<!-- <li style="padding-left:set_padding;"></li> -->
						<li>
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>
						<li id="spc"></li>
						<li>
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-linkedin" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>	
						<li>
							<a href="https://www.facebook.com/" target="_blank"><i class="far fa-envelope" style="font-size: 48px; color: #596C6C;"></i></a> 
						</li>	
					</ul>
			
				</div>
				<div class="buffer col-12"></div>
			</div>
		</div>
	</div>

</body>
</html>