<!DOCTYPE html>
<html>
<head>
	<title>shernof</title>
<meta  name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/0d5cd337e9.js" SameSite="None, Secure" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="lp.css">
</head>
<body>
	<div class="container">
		<div class="row d-flex">
			<div class="buffer col-12"></div>
				<div class="hd col-12">
					<p id="tm">Test</p>
					<h1 id="greet">Good Morning Sherwin</h1>
					<ul id="icons">
						<li>
							<a href="https://github.com/" target="_blank"><i class="fab fa-github-square" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>	
						<li>" "</li>
						<li>
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>
						<li>" "</li>
						<li>
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-linkedin" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>	
						<!-- <li>
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-linkedin" style="font-size: 48px; color: #596C6C;"></i></a>
						</li>	 -->
					</ul>
		
				</div>
			</div>
		</div>
	</div>

</body>
</html>