body, html{
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(./img/29.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row{
	justify-content: center;
	height: 100%;
}

#greet {
	font-size: 4rem;
	color: #ffffff;
  }

.buffer {
	text-align: center;
}
.container{
	height: 100%;
}
.hd{
	text-align: center;
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#icons li {
	display: inline;
	padding: 10px;	
}

#jb {
	font-size: 30px;
	color: #ffffff;
}

#cgx {
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	padding-bottom: 3px;

}

ul.nav li.dropdown:hover ul.dropdown-menu { 
	display: inline; 
	display: inline;
	padding-bottom: 50px;
}
.dropdown-item{
	color: blue;
	font-style: segoe ui;
	font-size: 12px;
	
}
  
  #i1, #i2, #i3, #i4, #i5 {
	height: 78px; /* [1.1] Set it as per your need */
	/* color: #ffffff; */
	overflow: hidden; 
	/* [1.2] Hide the overflowing of child elements */
  }
 
  /* [3] Finally, transforming the image when container gets hovered */
  #i1:hover, #i2:hover, #i3:hover, #i4:hover, #i5:hover {
	transform: scale(1.5);
	animation-name: color-change;
	animation-duration: 5s;
  }

  @keyframes color-change {
	from {color:#596C6C;}
	to {color:white;}
  }

  /* [2] Transition property for smooth transformation of images */
  #i1, #i2, #i3, #i4, #i5 {
	transition: transform 1s ease;
  }

  #i5-disabled {
	opacity: 0.6;
	cursor: not-allowed;
  }
